[submodule "evmc"]
	path = evmc
	url = https://github.com/somnathb1/zevmc.git
	branch = hyper1
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
